# Strapi CMS
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
JWT_SECRET=
ENCRYPTION_KEY=
DB_CLIENT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=strapi
DB_USER=strapi
DB_PASSWORD=
STRAPI_URL=http://localhost:1337
STRAPI_PORT=1337
STRAPI_PUBLIC_URL=http://localhost:1337
STRAPI_ADMIN_EMAIL=
STRAPI_ADMIN_PASSWORD=
STRAPI_TOKEN=
